.portfolio{
    /* display: flex; */
    width: 100vw;
    
}
.navigation{
    
    height: 100vh;
    position: fixed;
    padding-top: 50px;
    background-color:whitesmoke;
    width:16%;
    padding-left: 20px;
    background-image: url(./images/grey-technology-background_1035-9343.webp);

}
#home{
    background-color: #000000;
}
.myimage{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.name{
    color: white;
    font-size: 20px;
}
.margin_left{
    margin-left: 16vw;
    width: 84%;
}

.position_relative{
    position: relative;
}
.position_absolute{
    position: absolute;
    top:0px;
    left: 0px;
}
#about{
    background-color:black;
    color: white;
    border: solid;
    border-color: white;
    border-width: thick;
    margin-left:11px;
}
.contact_content{
    width:500px;
    border: 1px white solid;
    margin: auto;

}



#contact{
    background-color:#000000;
    color: #ffffff;
    border:  solid;
    border-color: white;
    border-width: thick;
    text-align: center;
    width: 100%;
    padding-left: 200px;
    
    
}

.footer{
   padding-left: 40px;
   background-color: rgb(218, 200, 200);
   padding-left: 20px;
   display: flex;
 
   margin-left:16vw;
}
   



#footer{
    margin-left:16vw;
    display: flex;
    background-color: black;

}




#projects{
    background-color:black;
    border: solid;
    border-color: white;
    border-width: thick;
}
.projectsheading{
    text-align: center;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  .achievementstitle{
    text-align: center;
  }
  .Top{
    margin-left: 500px;
  }
  .achievements{
    position: relative;
    width: 100%;
  }
  #achievements{
    width: 100%;

    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0px;
    height:600px;
   
  }
  .achievements_info{
    width: 60%;
    margin: auto;
    height: 600px;
    
  }
  .img{
    height:600;
    margin-left:1vw;
  }