.portfolio{
    /* display: flex; */
}
.navigation{
    
    height: 100vh;
    position: fixed;
    padding-top: 50px;
    background-color:whitesmoke;
    width: 200px;
    padding-left: 20px;
    background-image: url(./images/grey-technology-background_1035-9343.webp);

}
#home{
    background-color: #000000;
}
.myimage{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.name{
    color: white;
    font-size: 20px;
}
.margin_left{
    margin-left: 200px;
}

#achievements{
    position: absolute;



    /* margin-top: -10%; */
    /* background-repeat: no-repeat; */
}
.achievements{
    position:relative;
    border: solid;
    border-color: white;
    border-width: thick;
}


.achievementcontents{
    text-emphasis: center;
}
.foo{
    bottom: 10%;
    transform: translate(200%, -250%);
}
.position_relative{
    position: relative;
}
.position_absolute{
    position: absolute;
    top:0px;
    left: 0px;
}


.about_content{
    width: 400px;
    text-align: center;

}
#about{
    background-color:black;
    color: white;
    border: solid;
    border-color: white;
    border-width: thick;
}



#contact{
    margin-left:100px;
    background-color:#000000;
    color: #ffffff;
    border: solid;
    border-color: white;
    border-width: thick;
}
.contactTitle{
    text-align:center;
}
.contactcontent{
    align-items: center;
    width: 100px;
    flex-direction: row;
}
.footer{
   padding-left: 40px;
   display: flex;
}
.github{
    float: left;
}
.twitter{
    float: left;
}
.instagram{
    float: left;
}

#footer{
    margin-left: 200px;

}



#projects{
    background-color:black;
    border: solid;
    border-color: white;
    border-width: thick;
}
.projectsheading{
    text-align: center;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  .achievementstitle{
    text-align: center;
  }
  .Top{
    margin-left: 500px;
  }